div.app-header {
  display: flex;
  margin: auto;
  align-items: center;
  div.app-header__logo {
    font-size: 2rem;
    font-weight: bold;
    border: 1px dashed #cccccc;
    padding: 1.5rem .5rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    &:hover {
      background: yellow;
      border-color: yellow;
    }
    outline: none;
  }
  div.app-header__search{
    align-self: center;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  div.app-header {
    flex-wrap: wrap;
  }
  div.app-header__logo{
    flex-basis: 100%;
  }
  div.app-header__search{
    flex-basis: 100%;
  }
}
