<div class="app-movie-details" *ngIf="movie">
  <div class="app-movie-details__title">
    <h1>{{movie.name}}</h1>
  </div>
  <div class="app-movie-details__poster">
    <img src="assets/images/movie-covers/{{movie.img}}">
  </div>
  <div class="app-movie-details__description">
    <p><strong>Genres:</strong></p>
    <div class="app-movies-details__genres">
      <span *ngFor="let genre of movie.genres">{{genre}}</span>
    </div>
    <p><strong>Length:</strong> {{movie.length}}</p>
    <p><strong>Rate:</strong> {{movie.rate}}</p>
    <p><strong>Description: </strong></p>
    <p>{{movie.description}}</p>
  </div>
</div>
